[package]
name = "apex_protocol"
edition = "2024.beta"
version = "0.1.0"

[dependencies]
# DeepBook V3 - only needed for type references in apex_trading
# Agents call DeepBook directly via PTBs, we don't wrap it
deepbook = { git = "https://github.com/MystenLabs/deepbookv3.git", subdir = "packages/deepbook", rev = "main" }

[addresses]
dexter_payment = "0x0"
